
// Generic
@import './reset';
@import './colors';
@import './scale';
@import './typography';

// Modules
@import './modules/card';
@import './modules/gallery';
@import './modules/assignment';
@import './modules/notification';
@import './modules/page';

// Temporarily undefined
body {
  background-color: $grey-dark;
}

.test-independent-container {
  width: 600px;
  display: flex;
}
