@import '../mixins/media-queries';

.independent-wrapper {
  display: flex;
  justify-content: center;
}

.independent-container {
  align-items: center;
  padding: 2rem;
}

@include for-size(phone-only) {
  .independent-container {
    height: 600px;
    width: 400px;
  }
}

@include for-size(tablet-portrait-up) {
  .independent-container {
    width: 800px;
    box-shadow: inset 5px 0 5px -5px #333;
  }
}
