
.card {
  background-color: $white;
  border-radius: 1.5rem;
  width: 100%;
}

.card__image {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.card__title {
  padding: $scale-m;
}
