
@import '../mixins/media-queries';

.gallery {
  display: flex;
  padding: $scale-l;
}

.gallery__item {
  display: flex;
  flex-direction: column;
}

@include for-size(phone-only) {
  .gallery {
    flex-direction: column;
  }

  .gallery__item {
    margin-bottom: $scale-xl;
  }
}

@include for-size(tablet-portrait-up) {
  .gallery__item {
    margin: 0 $scale-l;
  }
}

@include for-size(tablet-landscape-up) {
  .gallery {
    flex-direction: row;
    // max-width: 50%;
  }
}
